:root {
    /* colors */
    --brand-orange: #E35205;
    --brand-teal: #004852;
    --brand-gold: #FFC658;
    --teal-medium: #008D9A;
    --charcoal-main: #4a4e54;
    --grey-text: #64605D;
    --dark-grey-text: #4B4F54;
    --white: white;
    --off-white: #FBF6EF;
    --extra-light-grey: #E0E0E0;

    --brand-gold-80: #FFC658CC;


    /* header font info */
    --header-font-family: "bryant-web", sans-serif;
    --header-font-weight: 700;
    --header-font-style: normal;

    /* paragraph font info */
    --para-font-family: "canada-type-gibson", sans-serif;
    --para-font-weight: 400;
    --para-font-style: normal;

}

html {
    background: var(--off-white);
    font-family: var(--para-font-family);
    font-weight: var(--para-font-weight);
    font-style: var(--para-font-style);
}

/* h1, h2, h3, h4, p {
    padding: 0 1rem;
} */

h1 {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    /* font-size: 48px; */
    font-size: 4.5rem;
    color: var(--teal-medium);
    text-transform: lowercase;
    line-height: 1;
}




h2 {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    /* font-size: 36px; */
    font-size: 3.5rem;
    color: var(--teal-medium);
    text-transform: lowercase;
    /* line-height: 1; */
    line-height: 67px;
    letter-spacing: -0.02em;


}

h3 {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    /* font-size: 28px; */
    font-size: 2rem;
    color: var(--teal-medium);
    text-transform: lowercase;
    /* line-height: 1; */
    line-height: 40px;

    letter-spacing: -0.02em;


}

h3.serious {

    font-family: var(--para-font-family);
    font-weight: 600;
    font-style: var(--header-font-style);

    font-size: 1.75rem;
    line-height: 36px;

    text-transform: capitalize;

}

h4 {
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-style: var(--header-font-style);
    /* font-size: 14px; */
    font-size: .875rem;
    color: var(--teal-medium);
    text-transform: uppercase;
}

h1.reverse,
h2.reverse,
h3.reverse,
h4.reverse,
p.reverse {
    color: var(--white);
}

p {
    font-family: var(--para-font-family);
    font-weight: var(--para-font-weight);
    font-style: var(--para-font-style);
    /* font-size: 18px; */
    font-size: 1.25rem;
    color: var(--dark-grey-text);
    padding-bottom: 1rem;
    line-height: 35px;
}

small {
    font-size: 1rem;
    line-height: 24px;
}

.billboard-text {
    font-family: var(--para-font-family);
    font-weight: var(--para-font-weight);
    font-style: var(--para-font-style);
    color: var(--teal-medium);
}

p.billboard-para {
    font-size: 1.75rem;
    line-height: 2.75rem;
}

p b {
    font-weight: 600;
}

.container {
    padding: 0 1rem;
    max-width: 1300px;
    margin: auto;
}

.color-square-container {
    display: flex;
}

.color-square {
    width: 100px;
    height: 100px;
}

.color-square.brand-orange {
    background-color: var(--brand-orange);
}

.color-square.brand-gold {
    background-color: var(--brand-gold);
}

.color-square.brand-teal {
    background-color: var(--brand-teal);
}

.color-square.teal-medium {
    background-color: var(--teal-medium);
}

.color-square.charcoal-main {
    background-color: var(--charcoal-main);
}

.color-square.white {
    background-color: var(--white);
}

.color-square.off-white {
    background-color: var(--off-white);
}

.teal-background {
    background: #004852;
}

div.spacer-1 {
    height: 1rem;
    width: 1rem;
}

span.spacer-1 {
    padding: .5rem;
}

div.spacer-144 {
    height: 144px;
    width: 144px;
}

.why-pangaea {
    margin: 5rem 0;
}

.why-pangaea .logo-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.why-pangaea .logo-image-container img {
    width: 100%;
    height: auto;
}

.we-print {
    padding: 5rem 0;
    background: var(--brand-teal);
    text-align: center;
}

.we-print h2 {
    margin-bottom: 2rem;
}

.we-print h3 {
    margin-bottom: 2rem;
}

.say-hi {
    margin: 5rem 0;
}

.say-hi .speech {
    padding: 2rem;
}

.spacer-32px {
    height: 32px;
}


@media (min-width: 768px) {
    .section-pair {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .billboard-text {
        font-size: 1.5rem;
    }
}

/* .container {background-color: red;} */

