---
import Layout from "../layouts/Layout.astro";
import Billboard from "../components/Billboard.astro";
import Button from "../components/Button.astro";
import AboutUsScrollContainer from "../components/AboutUsScrollContainer.astro";
import BiosTiles from "../components/BiosTiles.astro";
---

<Layout title="About">
	<Billboard
		background="/images/doorway-colex.jpg"
	>
		<h1 class="reverse">good people. great print.</h1>
		<div class="spacer-32px"></div>
		<p class="reverse billboard-para">
			We're a creative print shop in West Sacramento with a serious respect for the craft. And a team that actually loves what they do.
		</p>
		<div class="spacer-1"></div>
		<Button label="Meet the Team" variant="btn-standard" link="/about#meet-the-team" />
	</Billboard>
	<section class="why-pangaea">
		<div class="container">
			<div class="section-pair">
				<div class="logo-image-container">
					<div>
						<img src="/assets/small-logo.png" alt="Pangaea Print" />
					</div>
				</div>
				<div>
					<h2>How it all rolled out.</h2>
					<div class="spacer-32px"></div>

					<p>
					<b>We didn't set out to be just another print shop.</b> We started
					Pangaea because we knew printing could be smarter, faster, and a
					hell of a lot more fun. After years in the industry, we were
					tired of doing things the old way so we built something better:
					a place focused on people, process, and the thrill of making
					something real.
					</p>
					<p>
					At our shop in West Sacramento, you'll find us surrounded by color
					swatches, test prints, and the steady hum of machines doing their
					thing. We geek out over materials, chase better workflows, and still
					get a little rush when the first perfect print rolls off the press.
					</p>
					<p>
					For us, print is more than the final product — it's the connection
					it creates. Every banner, decal, and sticker we make tells someone's
					story, and we take that seriously. That's what keeps us coming back,
					sleeves rolled, ink-stained, and ready for whatever comes next.
					</p>
					<Button label="Ready to roll?" link="/contact" variant="btn-standard"/><span class="spacer-1"></span>
					<Button label="Explore Capabilities" link="/capabilities" variant="btn-outline" />
				</div>
				<!-- <div class="spacer-1"></div> -->
			</div>
		</div>
	</section>	
	<AboutUsScrollContainer />
	<section class="bios" id="meet-the-team">
		<div class="container">
			<div class="bios-intro">
				<div class="spacer-1"></div>
				<h2>serious about prints<br> not so serious about bios</h2>
				<br>
				<p>
					<b>
						We could ist our experience... but where's the fun in that?
					</b><br>
					Let's play <i>Two</i> Truths and a Lie. Think you can spot the fakes?
				</p>
			</div>
			<div class="bios-tiles">
				<BiosTiles
					name="Todd Fulton"
					title="owner and head honcho"
					lie1="Captured a purse snatcher while backpacking across Europe."
					lie2="Completed Ironman Canada."
					lie3="Repelled from a helicopter fighting forest fires as a Hotshot."
					staffImage="/images/dog-stretch.jpg"
				/>
				
				<BiosTiles
					name="Dave Blois"
					title="technical person"
					lie1="Wrote Pangaea's print automation software from scratch."
					lie2="Wrote a progressive rock opera about the Russian Space program: 'Sputnik and the Red Planet'."
					lie3="Once shared a bag of Goldfish crackers with Clint Eastwood."
					staffImage="/images/PXL_20251108_184314510.jpg"
				/>
				<BiosTiles
					name="Jesseyln !@#$%!"
					title="head of production"
					lie1="Has never used TikTok.";
					lie2="Accidentally showed up to work on her day off."
					lie3="Can recite the alphabet backwards."
					staffImage="/images/troll.jpg"
				/>
				<BiosTiles
					name="Jessica Coy-Rodriguez"
					title="marketing and design"
					lie1="Ghostwrote a breakup text that went viral.";
					lie2="Replaced her car's climate control unit armed with only YouTube and self-confidence. "
					lie3="Once sourced a gift for the Princess of Sweden."
					staffImage="/images/design.jpg"
				/>
				<BiosTiles
					name="Charizza Ventanilla"
					title="project coordinator"
					lie1="Is a master multitasker.";
					lie2="Would fill her house with dogs if her husband would let her."
					lie3="Like pluto, is considered to be one of the smaller planets in the solar system."
				/>
			</div>
		</div>
		<div class="spacer-144"></div>
	</section>
</Layout>
<style>
	.bios-intro {
		text-align: center;
		margin: 5rem auto 3rem auto;
	}
	.bio-tile {
		background-color: red;
	}

    @media (min-width: 768px) {
        .bios-tiles {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
</style>