---
import Layout from "../layouts/Layout.astro";
import Billboard from "../components/billboard.astro";
import Button from "../components/Button.astro";
import ContactForm from "../components/ContactForm.astro";
---
<Layout  title="Contact Us">
    <Billboard background="https://plus.unsplash.com/premium_photo-1675355675326-0bdc971f2558?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
		<h1>Say hi. we love to say hi</h1>
		<p class="billboard-text">
			Pangaea Print delivers large format printing, signage, decals, wall graphics, trade show displays, and fulfillment in West Sacramento and beyond. We mix creative design support, digital print technology, and online ordering tools to make print simple, scalable, and stress-free. 
		</p>
		<div class="spacer-1"></div>
		<Button label="Say hi" variant="btn-standard" link="/" />
	</Billboard>
	<section class="say-hi">
		<div class="container">
			<div class="section-pair">
				<div class="speech">
					<div class="spacer-1"></div>
					<img src="/src/assets/big-fans-of-hellos_come-say-hi.svg" alt="Big fans of hellos. Come say hi!">
					<div class="spacer-1"></div>
	
				</div>
				<div class="contact-form">
					<h2>Ready to print something? start here.</h2>
					<div class="spacer-32px"></div>
					<p><b>Got files, questions, or a half-formed idea?</b> We handle large format printing, signage, decals, and more across the Sacramento region and the Bay Area. Tell us what you're making - we'd love to chat.</p>
					<ContactForm/>
				</div>
			</div>
		</div>
	</section>
</Layout>