---
import Layout from "../layouts/Layout.astro";
import Billboard from "../components/Billboard.astro";
import Button from "../components/Button.astro";
---
<Layout title="Resources">
    <Billboard background="https://plus.unsplash.com/premium_photo-1675355675326-0bdc971f2558?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
		<h1>resources</h1>
		<p class="billboard-text">
			Pangaea Print delivers large format printing, signage, decals, wall graphics, trade show displays, and fulfillment in West Sacramento and beyond. We mix creative design support, digital print technology, and online ordering tools to make print simple, scalable, and stress-free. 
		</p>
		<div class="spacer-1"></div>
		<Button label="Say hi" variant="btn-standard" link="/" />
	</Billboard>
</Layout>