---
const { background } = Astro.props;
let backgroundImage = background
    ? "background: url(" +
      background +
      ") no-repeat center;background-size: cover;"
    : "background: lightblue;";
---

<div class="billboard">
<!-- <div class="billboard" style={backgroundImage}> -->
 <div class="overlay">
     <video autoplay muted loop id="myVideo">
         <source src="/images/pangaea-print.mp4" type="video/mp4" />
     </video>
 </div>
    <div class="bottom-text">
        <div class="container">
            <!-- <img src="./src/assets/tear-logo.svg" alt="Pangaea Print Logo"> -->
            <div class="text-box">
                <slot />
            </div>

        </div>
    </div>
</div>
<style>
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #4A4E54;
        background: linear-gradient(0deg,rgba(0, 0, 0, .8) 15%, rgba(74, 78, 84, 0) 100%);
    }
    .billboard {
        position: relative;
        height: 100vh;
        overflow: hidden;
        /* background-color: #000000cc; */
    }
    .billboard p {
        color: var(--teal-medium);
        font-weight: 600;
    }
    .bottom-text {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: ;
    }

    .text-box {
        padding: 2rem;
        max-width: 800px;
        /* background: var( --brand-gold-80); */
        border-radius: 2rem;
    }

    @media (min-width: 768px) {
        .bottom-text {
            bottom: 15%;
        }
    }

    /* .container {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    img {
        width: auto;
        max-width: 100%;
        height: 50%;
        padding: 3rem;
    } */


.billboard video {
    /* filter: blur(0) grayscale(70%); */
    /* opacity: .2; */
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* behind content */
  transform: translate(-50%, -50%);
  object-fit: cover; /* makes it act like a background image */
}
</style>
