<span>
    X
</span>
<style>
    span {
        color: var(--white);
        font-family: var(--header-font-family);
        font-weight: 700;
        font-style: var(--header-font-style);
        font-size:  3rem;
        margin: auto 1rem;
    }
</style>